doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
    style.
      body {
          font-family: 'Helvetica Neue', Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
      }
      .container {
          max-width: 600px;
          margin: 40px auto;
          background: linear-gradient(to right, #fff7e6, #ffffff);
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
      .header {
          padding-bottom: 20px;
          border-bottom: 2px solid #FF4500;
          text-align: center;
      }
      .header h1 {
          margin: 0;
          font-size: 28px;
          color: #FF4500;
      }
      .content {
          padding: 20px 0;
          text-align: left;
          color: #333;
      }
      .content p {
          margin: 15px 0;
          font-size: 14px;
      }
      .content a {
          color: #FF4500;
          text-decoration: none;
          font-weight: bold;
      }
      .content a:hover {
          text-decoration: underline;
      }
      .reset-box {
          border: 1px solid #FF4500;
          background-color: #fff5f0;
          padding: 10px;
          display: inline-block;
          color: #FF4500;
          font-weight: bold;
          border-radius: 5px;
      }
      .footer {
          padding-top: 20px;
          border-top: 1px solid #eaeaea;
          text-align: left;
          color: #333;
      }
      .footer p {
          margin: 5px 0;
      }

  body
    .container
      .header
        h1 Reset Your Password
      .content
        p Hello #{name},
        p We received a request to reset your password for your account.
        p If you did not make this request, you can safely ignore this email. However, if you need to reset your password, please use the following link:
        p #{url}
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td(align='left')
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td
                        a.reset-box(href=`${url}`, target='_blank') Reset Password
        p
        p Please note that this link will expire in 10 minutes. 
        p
        p If you have any issues resetting your password, feel free to contact our support team.
        p
        p Best regards,
        p Vesstaevents Teams
      .footer
        p If you have any questions or need further assistance, please contact us at Vesstaevents@gmail.com.
        p We look forward to helping you!

